<!-- main_content_1.html -->
<div id="id_view_lst" class="ccheck_view" style="display: none;">
    {% raw %}
    <table id="id_image_lst" class="ui striped selectable unstackable table">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>作成日</th>
                <th><i class="info circle icon"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="r in list_record">
                <td><a v-bind:href="'?image_ref=' + r.document_id">{{ r.title }}</a></td>
                <td>{{ r.created_at }}</td>
                <td><button class="ui icon button"><i class="trash alternate icon"></i></button></td>
            </tr>
        </tbody>
    </table>
    {% endraw %}
</div>

<div id="id_view_new" class="ccheck_view" style="display: none;">
    <form id="id_form_iine_file">
        <div id="canvas_wrapper">
            <canvas id="id_canvas_new" width="512" height="512"></canvas>
        </div>

        <div class="ui form">
            <div class="ui equal width form">
                <div class="fields">
                    <div class="required field">
                        <label>タイトル</label>
                        <input name="text_title" type="text" />
                    </div>
                </div>
                <div class="fields">
                    <div class=" field">
                        <label><i class="red bookmark icon"></i>項目の説明</label>
                        <input name="text_r" type="text" />
                    </div>
                    <div class=" field">
                        <label><i class="green bookmark icon"></i>項目の説明</label>
                        <input name="text_g" type="text" />
                    </div>
                    <div class=" field">
                        <label><i class="blue bookmark icon"></i>項目の説明</label>
                        <input name="text_b" type="text" />
                    </div>
                </div>
            </div>

            <div class="fields">
                <label for="fruit">選択領域の最大サイズ</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="check_size" value="25" class="hidden" />
                        <label>25%</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="check_size" value="50" class="hidden" />
                        <label>50%</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="check_size" value="75" class="hidden" />
                        <label>75%</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="check_size" value="100" class="hidden" checked="checked" />
                        <label>100%</label>
                    </div>
                </div>
            </div>

            <input id="id_btn_upload_file" class="ui button" type="file" name="file[]" />
            <div id="id_file_droparea" class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="file outline icon"></i>
                    画像ファイルをここにドロップ
                </div>
            </div>

            <div class="ui container">
                <div id="id_btn_submit_file" class="ui primary submit right labeled icon button">
                    作成
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- -->
<div id="id_view_mod" class="ccheck_view" style="display: none;">
    <span id="id_menu_canvas_mod">
        <div class="ui huge menu">
            <a class="item" v-on:click="evt_click_user" href="javascript:void(0);"><i class="user icon"></i></a>
            <a class="item" v-on:click="evt_click_users" href="javascript:void(0);"><i class="users icon"></i></a>
            <a class="item" v-on:click="evt_click_erase" href="javascript:void(0);"><i class="eraser icon"></i></a>
            <div class="right menu">
                <!--
                <a id="id_menu_edit" data-target-view="#id_view_edit" class="item cc_menu"
                href="javascript:iine_view_change('#id_menu_edit');">
                <i class="edit icon"></i>&nbsp;編集</a>
                -->
                <a class="item" v-on:click="evt_click_delete" href="javascript:void(0);"><i class="trash icon"></i></a>
            </div>
        </div>
        <div class="three ui basic buttons">
            {% raw %}
            <button class="ui button" v-on:click="evt_click_r" v-show="desc_r.visible"
                v-bind:class="{active: active_desc == 0}">
                <i class="red bookmark middle aligned icon"></i>{{ desc_r.label }}</button>
            <button class="ui button" v-on:click="evt_click_g" v-show="desc_g.visible"
                v-bind:class="{active: active_desc == 1}">
                <i class="green bookmark middle aligned icon"></i>{{ desc_g.label }}</button>
            <button class="ui button" v-on:click="evt_click_b" v-show="desc_b.visible"
                v-bind:class="{active: active_desc == 2}">
                <i class="blue bookmark middle aligned icon"></i>{{ desc_b.label }}</button>
            {% endraw %}
        </div>
        <div id="canvas_wrapper">
            <canvas id="id_canvas_mod" width="512" height="512"></canvas>
        </div>
        {% raw %}
        <div class="ui center aligned container">
            <h3>{{ title }}</h3>
        </div>
        {% endraw %}
        {% raw %}
        <table id="id_image_mrk_lst" class="ui striped selectable unstackable table">
            <thead>
                <tr>
                    <th>名前</th>
                    <th>作成日</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="r in list_record">
                    <td>{{ r.username }}</a></td>
                    <td>{{ r.created_at }}</td>
                </tr>
            </tbody>
        </table>
        {% endraw %}
    </span>
</div>